<li>
    {{name}}

    <button class="change-devour float-right btn btn-sm btn-warning" data-id="{{id}}" data-newdevour="{{devour}}">
        {{#if devour}}Devour it!{{else}}Move to the waiting list!{{/if}}
    </button>

</li>